'use client';

import React from "react";
import styled from "styled-components";

const {{ ComponentName }} = ({children}) => {
  return (
    <Wrapper>
      {children}
    </Wrapper>
  )
};

const Wrapper = styled.div`
  /* CSS Goes Here */
`;

export default {{ ComponentName }};
